
.device-view {
    flex: 50%;
    background: #f0f9fe;
}

.device-view-inner {
    padding: 20px 5px 20px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);

}

.device-name {
    color: rgba(0, 0, 0, 0.54);

    margin-bottom: 10px;

    font-size: 13px;
}

.total-font{
    font-size: 25px;
}

.unit-font{
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.54);
}