
.device-view {
    flex: 50%;
    background: #f0f9fe;
}

.device-view-inner {
    padding: 20px 5px 20px 5px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    width: 100%;
}


.device-name {
    color: rgba(0, 0, 0, 0.54);

    margin-bottom: 10px;

    font-size: 13px;
}

.total-font {
    font-size: 25px;
    color: rgba(0,0,0,0.7);
}


.unit-font {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.54);
}