.home-site-content{
    max-width: 400px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto
}

.home-site-content-wrapper{
    display: flex;
    justify-content: center;
}

